.promo__offer-date {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #676767;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .promo__offer-date {
    font-size: 10px;
    line-height: 14px;
  }
}

@media screen and (max-width: 550px) {
  .promo__offer-date {
    font-size: 8px;
    line-height: 11px;
  }
}
