.promo__offer-discount {
  font-family: "Space Grotesk", sans-serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000;
  margin: 0 auto 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  .promo__offer-discount {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 550px) {
  .promo__offer-discount {
    font-size: 14px;
    line-height: 20px;
  }
}
