.cards__item-description {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: #676767;
  margin: 0 auto;
  padding-right: 50px;
}

@media screen and (max-width: 1300px) {
  .cards__item-description {
    font-size: 15px;
    line-height: 26px;
  }
}

@media screen and (max-width: 1200px) {
  .cards__item-description {
    font-size: 14px;
    line-height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .cards__item-description {
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .cards__item-description {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .cards__item-description {
    line-height: 20px;
  }
}
